{% load staticfiles %}
<doctype html>
<html>
	<head>
		<title>
			Welcome to {{restaurant.restaurant_name}}
		</title>
		<link rel="stylesheet" href="{% static 'style.css' %}"/>
	</head>
	<body>
		<center>
		<main>
			<section class="section_mama_detail">
				<section class="restaurant_card">
					<img src="{{ restaurant.banner }}" />
					<p class="title">{{restaurant.restaurant_name}}</p>
					<p class="about">{{ restaurant.about}}</p>
				</section>
				<section>
				<a href="{% url 'www:index' %}"> BACK </a>
				</section>
			</section>
		</main>
		</center>
	</body>